name: Publish

on:
  workflow_dispatch:
    inputs:
      app-id:
        type: number
        required: true
      s3-key:
        type: string
        required: true
      s3-bucket:
        type: string
        required: true
      s3-region:
        type: string
        required: true
      s3-endpoint:
        type: string
        required: true
      s3-access-key-id:
        type: string
        required: true
      s3-secret-access-key:
        type: string
        required: true

concurrency:
  group: publish/${{ inputs.app-id }}

jobs:
  publish:
    name: "${{ github.workflow }} #${{ inputs.app-id }}"
    runs-on: ubuntu-latest
    steps:
      - uses: levibostian/action-hide-sensitive-inputs@v1
        with:
          exclude_inputs: app-id
      - id: setup
        uses: app-sdk/setup-action@main
        with:
          s3-key: ${{ inputs.s3-key }}
          s3-bucket: ${{ inputs.s3-bucket }}
          s3-region: ${{ inputs.s3-region }}
          s3-endpoint: ${{ inputs.s3-endpoint }}
          s3-access-key-id: ${{ inputs.s3-access-key-id }}
          s3-secret-access-key: ${{ inputs.s3-secret-access-key }}
          s3-force-path-style: true
      - if: steps.setup.outputs.package-manager == 'pnpm'
        uses: pnpm/action-setup@v4
        with:
          version: ${{ steps.setup.outputs.pnpm-version }}
      - uses: actions/setup-node@v4
        with:
          cache: ${{ steps.setup.outputs.package-manager }}
          node-version: ${{ steps.setup.outputs.node-version }}
