name: Publish

on:
  workflow_dispatch:
    inputs:
      id:
        type: number
        required: true

concurrency:
  group: ${{ github.workflow }} ${{ github.ref_name }}/${{ inputs.id }}

jobs:
  publish:
    name: "${{ github.workflow }} #${{ inputs.id }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
