name: Publish

on:
  workflow_dispatch:
    inputs:
      app-id:
        type: number
        required: true
      s3-key:
        type: string
        required: true
      s3-bucket:
        type: string
        required: true
      s3-region:
        type: string
        required: true
      s3-endpoint:
        type: string
        required: true
      s3-access-key-id:
        type: string
        required: true
      s3-secret-access-key:
        type: string
        required: true

concurrency:
  group: ${{ github.workflow }} ${{ inputs.app-id }}

jobs:
  prepare:
    name: tauri-${{ inputs.app-id }}@github-latest
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: levibostian/action-hide-sensitive-inputs@v1
        with:
          exclude_inputs: app-id
      - id: setup
        uses: app-sdk/setup-action@main
        with:
          s3-key: ${{ inputs.s3-key }}
          s3-bucket: ${{ inputs.s3-bucket }}
          s3-region: ${{ inputs.s3-region }}
          s3-endpoint: ${{ inputs.s3-endpoint }}
          s3-access-key-id: ${{ inputs.s3-access-key-id }}
          s3-secret-access-key: ${{ inputs.s3-secret-access-key }}
          s3-force-path-style: true
      - run: |
          if ! output=$(gh release delete tauri-${{ inputs.app-id }}@${{ steps.setup.outputs.app-version }} --repo ${{ github.repository }} --cleanup-tag --yes 2>&1); then
            if echo "$output" | grep -q "release not found"; then
              exit 0
            else
              echo "$output" >&2
              exit 1
            fi
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish:
    strategy:
      matrix:
        platform: [macos-latest, windows-latest]
    name: tauri-${{ inputs.app-id }}@${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    needs: [prepare]
    permissions:
      contents: write
    steps:
      - uses: levibostian/action-hide-sensitive-inputs@v1
        with:
          exclude_inputs: app-id
      - id: setup
        uses: app-sdk/setup-action@main
        with:
          s3-key: ${{ inputs.s3-key }}
          s3-bucket: ${{ inputs.s3-bucket }}
          s3-region: ${{ inputs.s3-region }}
          s3-endpoint: ${{ inputs.s3-endpoint }}
          s3-access-key-id: ${{ inputs.s3-access-key-id }}
          s3-secret-access-key: ${{ inputs.s3-secret-access-key }}
          s3-force-path-style: true
      - if: steps.setup.outputs.package-manager == 'pnpm'
        uses: pnpm/action-setup@v4
        with:
          version: ${{ steps.setup.outputs.pnpm-version }}
      - if: steps.setup.outputs.package-manager != 'bun'
        uses: actions/setup-node@v6
        with:
          node-version: ${{ steps.setup.outputs.node-version }}
          cache: ${{ steps.setup.outputs.package-manager }}
      - if: steps.setup.outputs.package-manager == 'bun'
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ steps.setup.outputs.bun-version }}
      - if: steps.setup.outputs.package-manager == 'bun'
        uses: actions/setup-node@v6
        with:
          node-version: ${{ steps.setup.outputs.node-version }}
          package-manager-cache: false
      - run: ${{ steps.setup.outputs.install-command }}
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ runner.os == 'macOS' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}
      - uses: swatinem/rust-cache@v2
        with:
          workspaces: src-tauri
          shared-key: ${{ inputs.app-id }}-tauri
          cache-workspace-crates: true
          cache-all-crates: true
          add-job-id-key: false
      - if: runner.os == 'macOS'
        id: prepare-apple-signing-identity
        name: Prepare Apple signing identity
        run: |
          echo $APPLE_CERTIFICATE | base64 --decode > certificate.p12
          security create-keychain -p github-actions build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p github-actions build.keychain
          security set-keychain-settings -t 3600 -u build.keychain
          security import certificate.p12 -k build.keychain -P "$APPLE_CERTIFICATE_PASSWORD" -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k github-actions build.keychain
          rm certificate.p12
          APPLE_SIGNING_INFO=$(security find-identity -v -p codesigning build.keychain | grep "Developer ID Application")
          APPLE_SIGNING_IDENTITY=$(echo "$APPLE_SIGNING_INFO" | awk -F'"' '{print $2}')
          echo "APPLE_SIGNING_IDENTITY=$APPLE_SIGNING_IDENTITY" >> $GITHUB_OUTPUT
        env:
          APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
          APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
      - if: runner.os == 'Windows'
        shell: pwsh
        run: Invoke-WebRequest -Uri "https://github.com/Levminer/trusted-signing-cli/releases/download/0.8.0/trusted-signing-cli.exe" -OutFile "$env:windir\trusted-signing-cli.exe"
      - uses: tauri-apps/tauri-action@v0
        with:
          args: ${{ runner.os == 'macOS' && '--target universal-apple-darwin' || '' }}
          tauriScript: ${{ steps.setup.outputs.exec-command }} tauri
          tagName: tauri-${{ inputs.app-id }}@__VERSION__
          releaseName: "${{ steps.setup.outputs.app-name || 'tauri-${{ inputs.app-id }}' }} __VERSION__"
          releaseBody: "**ID**: `${{ inputs.app-id }}`"
          releaseCommitish: ${{ github.sha }}
          includeUpdaterJson: false
        env:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
          APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
          APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          APPLE_SIGNING_IDENTITY: ${{ steps.prepare-apple-signing-identity.outputs.APPLE_SIGNING_IDENTITY }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - shell: bash
        run: rm -rf src-tauri/target${{ runner.os == 'macOS' && '/universal-apple-darwin/' || '/' }}release/bundle
