name: Publish Tauri app

on:
  workflow_dispatch:
    inputs:
      app-id:
        type: number
        required: true
      s3-key:
        type: string
        required: true
      s3-bucket:
        type: string
        default: ""
      s3-region:
        type: string
        default: ""
      s3-endpoint:
        type: string
        default: ""
      s3-access-key-id:
        type: string
        default: ""
      s3-secret-access-key:
        type: string
        default: ""

concurrency:
  group: publish/${{ github.ref_name }}/${{ inputs.app-id }}

jobs:
  publish:
    name: "${{ github.workflow }} #${{ inputs.app-id }}"
    runs-on: ubuntu-latest
    steps:
      - uses: levibostian/action-hide-sensitive-inputs@v1
        with:
          exclude_inputs: app-id
      - uses: actions/checkout@v6
      - uses: fregante/setup-git-user@v2
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          registry-url: https://registry.npmjs.org
          node-version-file: .nvmrc
      - run: pnpm install
      - if: github.ref_name == 'main'
        run: node setup-app.js
        env:
          S3_KEY: ${{ inputs.s3-key }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
          S3_REGION: ${{ secrets.S3_REGION }}
          S3_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_FORCE_PATH_STYLE: 0
      - if: github.ref_name == 'dev'
        run: node setup-app.js
        env:
          S3_KEY: ${{ inputs.s3-key }}
          S3_BUCKET: ${{ inputs.s3-bucket }}
          S3_REGION: ${{ inputs.s3-region }}
          S3_ENDPOINT: ${{ inputs.s3-endpoint }}
          S3_ACCESS_KEY_ID: ${{ inputs.s3-access-key-id }}
          S3_SECRET_ACCESS_KEY: ${{ inputs.s3-secret-access-key }}
          S3_FORCE_PATH_STYLE: 1
